node-red-flow

[{"id":"b22d3195.2b913","type":"http in","z":"822c4617.d515b8","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":92.99999237060547,"y":65.9999942779541,"wires":[["344fe615.185f4a"]]},{"id":"344fe615.185f4a","type":"change","z":"822c4617.d515b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156.99999237060547,"y":133.99998474121094,"wires":[["d2ea60bb.4d32c"]]},{"id":"fe6d3ab6.75e798","type":"watson-conversation-v1","z":"822c4617.d515b8","name":"","workspaceid":"d61910e9-c4fd-48cf-9546-6a0cf8d7bafa","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":460,"y":331.999981880188,"wires":[["f8683a16.7d7998"]]},{"id":"f8683a16.7d7998","type":"function","z":"822c4617.d515b8","name":"","func":"msg.payload = \n[{\"text\":msg.payload.output.text[0]}];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["b6f2e98d.345818"]]},{"id":"b6f2e98d.345818","type":"http response","z":"822c4617.d515b8","name":"","statusCode":"","headers":{},"x":724.9999923706055,"y":209.99998569488525,"wires":[]},{"id":"90b9da68.76fbe8","type":"visual-recognition-v3","z":"822c4617.d515b8","name":"","apikey":"50f1b9ecb9e1dff4c77f8681ad3f343d3cfb85f6","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":559.5113868713379,"y":137.1022548675537,"wires":[["bd340415.0b41e8","f0cd52c6.fb1d5"]]},{"id":"d2ea60bb.4d32c","type":"switch","z":"822c4617.d515b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://scontent","vt":"str"},{"t":"cont","v":"https://cdn.fbsbx.com","vt":"str"},{"t":"cont","v":"http://www.google.com/maps/place","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":316.0142135620117,"y":226.00567436218262,"wires":[["90b9da68.76fbe8"],[],[],["fe6d3ab6.75e798"]]},{"id":"bd340415.0b41e8","type":"function","z":"822c4617.d515b8","name":"","func":"var aux;\nif(msg.result.images.length > 0)\n{\n    if(msg.result.images[0].faces)\n    {\n        aux = \"Eu vejo \";\n        var tam = aux.length;\n        for(x = 0; x < msg.result.images[0].faces.length; x++)\n        {\n            \n            if(aux.length > tam)\n            {\n                aux += \"E \";\n            }\n        \n            if(msg.result.images[0].faces[x].age.min >= 55 && msg.result.images[0].faces[x].gender.gender == \"MALE\")\n            {\n                aux += \"um senhor com idade acima de \" + msg.result.images[0].faces[x].age.min;\n            } else if(msg.result.images[0].faces[x].age.min >= 45 && msg.result.images[0].faces[x].gender.gender == \"MALE\")\n            {\n                aux += \"um jovem senhor com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 35 && msg.result.images[0].faces[x].gender.gender == \"MALE\")\n            {\n                aux += \"um homem com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 25 && msg.result.images[0].faces[x].gender.gender == \"MALE\")\n            {\n                aux += \"um rapaz com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 15 && msg.result.images[0].faces[x].gender.gender == \"MALE\")\n            {\n                aux += \"um jovem com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            }\n            aux += \" (\" + msg.result.images[0].faces[x].gender.score + \") \"\n        \n            if(msg.result.images[0].faces[x].age.min >= 55 && msg.result.images[0].faces[x].gender.gender == \"FEMALE\")\n            {\n                aux += \"uma senhora com idade superior à \" + msg.result.images[0].faces[x].age.min;\n            } else if(msg.result.images[0].faces[x].age.min >= 45 && msg.result.images[0].faces[x].gender.gender == \"FEMALE\")\n            {\n                aux += \"uma jovem senhora com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 35 && msg.result.images[0].faces[x].gender.gender == \"FEMALE\")\n            {\n                aux += \"uma mulher com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 25 && msg.result.images[0].faces[x].gender.gender == \"FEMALE\")\n            {\n                aux += \"uma garota com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            } else if(msg.result.images[0].faces[x].age.min >= 15 && msg.result.images[0].faces[x].gender.gender == \"FEMALE\")\n            {\n                aux += \"uma jovem com idade entre \" + msg.result.images[0].faces[x].age.min +\n                              \" e \" + msg.result.images[0].faces[x].age.max;\n            }\n    \n            aux += \" anos.\\n\";\n\n            if(msg.result.images[0].faces[x].identity)\n            {\n                aux += \" Parece-me ser \" + msg.result.images[0].faces[x].identity.name+ \"!\\n\"\n            }\n        }\n        msg.payload = aux;\n    }\n    else\n    {\n        msg.payload = \"Desculpe-me, mas não reconheço um rosto nesta imagem\";\n    }\n}\nelse\n{\n    msg.payload = \"Desculpe-me, mas não reconheço um rosto nesta imagem\";\n}\n\nmsg.payload = [{\"text\":msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"x":522.5199165344238,"y":223.1562271118164,"wires":[["b6f2e98d.345818"]]},{"id":"f0cd52c6.fb1d5","type":"debug","z":"822c4617.d515b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":706.5113372802734,"y":329.16761016845703,"wires":[]}]
